html,
body {
	margin: 0;
	padding: 0;
	height: 100%; 
}
body {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 16px; 
}
textarea:focus,
input:focus {
	outline: none; 
}

li {
	list-style-type: none; 
}
.app {
	margin: 15px 0;
}
.list-clients-wrap, .open-client-wrap {
	border: 1px solid #ddd;
}
.search {
	padding: 0 5px; 
}
.search .input {
	padding: 0 10px;
	margin: 15px 0;
	width:  100%;
}
.search .input input {
	border-radius: 0;	
}
.wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.list-clients-wrap .client {
	display: block;
	padding: 10px 5px;
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	color: #444;
	position: relative;
}
.list-clients-wrap .client img {
	max-width: 80px;
	height: auto;
}
.list-clients-wrap .client h2 {
	margin: 0;
	padding-bottom: 10px;
	font-size: 20px;
}
.list-clients-wrap .client h3 {
	margin: 0;
	font-size: 16px;
}
.client-info-left {
	display: flex;
	align-items: center;
}
.client-info-left div {
	margin: 0 10px;
}
.open-client {
	margin: 15px 0;
}
.open-client h2 {
	margin: 0;
}
.open-client h3 {
	margin: 0;
}
.open-client p {
	margin-bottom: 0;
}

